<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/header.css" rel="stylesheet" type="text/css">
        <link href="../style/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/profile.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
            </h1>
            <a href="./index.html" class="inicio">Inicio</a>
        </header>
        <main>
            <nav class="menu-prof">
                <ul>
                    <div class="img-prof-name">
                        <img>
                        <li class="menu-list">Xxx-Xxxx</li>
                    </div>
                    <li class="menu-list menu-profile">
                        <a href="./profile.html">Perfil</a>
                    </li>
                    <li class="menu-list menu-">
                        <a href="">Médicos</a>
                    </li>
                    <li class="menu-list menu-">
                        <a href="">Turnos</a>
                    </li>
                    <li class="menu-list menu-">
                        <a href="">Estudios</a>
                    </li>
                    <li class="menu-list menu-">
                        <a href="">Tratamientos</a>
                    </li>
                    <li class="menu-list menu-">
                        <a href="">Condiciones</a>
                    </li>
                    <li class="menu-list menu-">
                        <a href="">Cerrar sesión</a>
                    </li>
                </ul>
            </nav>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="" alt="icono-facebook" href="">
                <img src="" alt="icono-twitter" href="">
                <img src="" alt="icono-instagram" href="">
                <img src="" alt="icono-linkedin" href="">
                <!--Boton/icono flechita para ir arriba--->
            </div>
        </footer>




        <script src=""></script>
    </body>
</html>